<section id="contact" class="contact">
  <div class="container">
    <h2>Contact Us</h2>

    <div class="methods">
      <div class="direct">
        <p>
        The best way to contact us is to talk to us directly.</p>

        <p>
        <i class="icon-mail"></i>
        <a href="mailto:asattar.md@gmail.com">asattar.md@gmail.com</a>.
        <br/>
        <i class="icon-phone"></i>
        <a href="tel:917660010947">+91-766-00-10947</a>.
        </p>
      </div>
      <form action="https://getsimpleform.com/messages?form_api_token=c6befbc82c5939c8b28ab418340bea75" method="post" class="contact-us-form">
        <input type='hidden' name='redirect_to' value='http://deftia.com/thank-you.html' />
        <p class="caption">Or send us a message, we promise a reply within the next 24 hours!</p>

        <p><input type="text" name="name" placeholder="Name"></p>

        <p><input type="email" name="email" placeholder="Email"></p>

        <p><textarea name="message" placeholder="A short message ..."></textarea></p>

        <p><input type="submit" class="button button--primary" value="Send Message"></p>
      </form>
    </div>
  </div>
</section>
<footer>
  <p>&copy; 2015 Deftia Consulting. All Rights Reserved.</p>
</footer>