$primary-font: 'Source Sans Pro', sans-serif;

$light-weight: 300;
$normal-weight: 400;
$bold-weight: 700;

body {
  font-family: $primary-font;
}

a {
  color: $dark-color;
  text-decoration: underline;

  &:hover {
    color: $dark-color;
    text-decoration: none;
  }
  &:visited {
    color: $dark-color;
  }
}

h1,h2,h3,h4,h5,h6 {
  font-weight: $normal-weight;
}