.button {
  display: inline-block;
  padding: .5em 1em;
  text-transform: uppercase;
  letter-spacing: .05em;
  background-color: $background-color;
  color: $dark-color;
  border-radius: 9999px;
  border: none;

  &.button--primary {
    background-color: $primary-color;
    color: $light-color;
    text-decoration: none;
  }

  &.button--large {
    font-size: 1.5em;
  }

  &:hover {
    transform: translateY(-1px);
  }
}